/*================================               index.HTML - style            =====================================*/

.column {
    padding: 10px;
    margin: 5px;
    flex: 50%;
}

.row {
    display: flex;
}

.wrapUsersDC {
    border: solid 1px #0015ff;
    background: lightcyan;
    padding: 30px;
    margin: 15px 15px 0 15px;
    text-align: center;
    font-size: xx-large;
    color: darkblue;
}

.wrapUsersDCa {
    border: solid 1px #0077ff;
    border-top: 0;
    background: #0077ff;
    padding: 10px;
    margin: 0 15px 15px 15px;
    display: block;
    text-align: center;
    font-size: x-large;
    color: lightcyan;
    text-decoration: none;
}
/*=============================               user.details.HTML - style            =================================*/
#dad {
    background: #b794ef;
    padding: 10px;
}
#child1 {
    background: #abffff;
    font-style: oblique;
    font-size: xx-large;
    padding: 40px;
    text-align: center;
}

.children {
    background: #00ffff;
    color: darkviolet;
    font-style: oblique;
    font-size: large;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    height: 100px;
}

#btnDecor {
    border: solid 3px #0015ff;
    background: #0015ff;
    padding: 10px;
    margin: 30px auto;
    font-size: xx-large;
    color: #abffff;
    width: 90%;
    display: block;
}

.child2-column{
    padding: 10px;
    margin: 5px;
    flex: 20%;
}

.comments-column{
    padding: 10px;
    margin: 5px;
    flex: 25%;
}

.hide{
    display: none;
}
/*===================================================================================================================*/

.comment{
    margin: 10px;
    border: 1px solid deepskyblue;
    background: deepskyblue;
    height: 250px;
    padding: 15px;
}

#post {
    padding: 20px;
    background: cyan;
    text-align: center;
    font-size: x-large;
    color: blue;
}

#comments {
    background: #5540e0;
    color: #0015ff;
}